<div class="container-fluid">


  <!-- <app-page-title title="Input-Form v1.1.6"></app-page-title> -->

  <h2 class="text-center">Copy sw</h2>
  <div class="row">
    <div class="col-12">
      <div class="card-box">
        <div class="row">
          <div class="col-12">
           <input [(ngModel)]="input" type="text">
          </div>
          <div class="col-12 mt-2">
            <textarea [(ngModel)]="text" (ngModelChange)="colar()"  cols="30" rows="3"></textarea>
          </div>
          <div class="col-6">
            <textarea id="textResult1" [(ngModel)]="textResult1"  cols="30" rows="3"></textarea>
          </div>
          <div class="col-6">
            <textarea id="textResult2" [(ngModel)]="textResult2"  cols="30" rows="3"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
